*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#fff;
    --secondary-color:#F9A826;
    --placeholder:#aaa;
    --primary-color:#152238;
}
body, input{
font-family: 'Poppins',sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top:5%;
    left: 70%;
    transform: translateX(-50%,-50%);
    width: 50;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2.2rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 58px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0.4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    font-size: 1.1rem;
    color: var(--secondary-color);
}
.input-field input{
    background: none;
    outline: none;
    border:  none;
    line-height: 1;
    font-weight: 600;
    color: var(--secondary-color);
}
.input-field input::placeholder{
    color: var(--placeholder);
    font-weight: 500;
}
.btn{
    width: 150px;
    height: 48px;
    border-radius: 49px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.btn:hover{
opacity: 0.8;
}
.social-text{
    padding: .7rem;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}
.social-media{
    display: flex;
    justify-content: center;
    
}
.social-icon{
    height: 46px;
    width: 46px;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}
.social-icon:hover{
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}